.carousel{
  flex-wrap: wrap;
  justify-content: center;    
  display: inline-flex;
  flex-direction: row;
  align-content: center;
  background-size: 557px 528px;
}.modal {
  display: block;
  position: fixed;
  z-index: 1000;
  padding-top: 6px;
  left: 10;
  top: 0;
  width: 960px;
  height: 550px;
  overflow: auto;
  background-color:indigo;
}.close {
  color: red;
  position: absolute;
  top: 10px;
  right: 8px;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
  background-color: white;
  opacity: 0.5;
}.close:hover{
  opacity: 1;
}.prev,
.next {
  cursor: pointer;
  position: absolute;
  bottom: 0px;
  width: auto;
  padding: 2.5px 15px;
  margin-top: -50px;
  font-weight: bold;
  font-size: 50px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  color:#9e7700;
  cursor: pointer;
  opacity: 0.5;
}.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}.prev:hover,
.next:hover {
  opacity: 1;
  background-size: 10px;
}